<!DOCTYPE html>
<html>
 <head>
  <title>Inline Styles</title>
 </head>
 <body>
 <h1 style="color=red;">Welcome to SathyaTech</h1>
 <h1 style="color:bule;text-align:center;">Welcome to Ratan Sir classes....</h1>
 <h1 style="color:deeppink;text-align:right;font-size:50px;font-family:">Welcome to Ratan Sir classes...</h1>
  <h1 style="color:deeppink;;">Welcome to Ratan Sir classes...</h1>

